In [1]:
import pandas as pd
from glob import glob

In [15]:
!pip3 install xlrd

Requirement already satisfied: xlrd in /Users/do/.pyenv/versions/anaconda3-2019.10/lib/python3.7/site-packages (2.0.1)

In [17]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 3.7 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7
Note: you may need to restart the kernel to use updated packages.

In [4]:
filepaths_order = glob('sources/order_new/order*.xlsx')
filepaths_order

['sources/order_new/order_C_20210203.xlsx',
 'sources/order_new/order_D_20210203.xlsx',
 'sources/order_new/order_A_20210203.xlsx',
 'sources/order_new/order_B_20210203.xlsx']

In [13]:
filepath = filepaths_order[0]
filepath

'sources/order_new/order_C_20210203.xlsx'

In [18]:
df_order = pd.read_excel(filepath)
df_order

   焼酎  白ワイン  ブランデー
0   8    18      2

In [20]:
df_order.to_dict().items()

dict_items([('焼酎', {0: 8}), ('白ワイン', {0: 18}), ('ブランデー', {0: 2})])

In [21]:
from collections import defaultdict

In [22]:
order = defaultdict(int)

In [24]:
for key, value in df_order.to_dict().items():
    order[key] += value[0]
#     print(key, value)

In [25]:
order

defaultdict(int, {'焼酎': 8, '白ワイン': 18, 'ブランデー': 2})

In [27]:
filepath = filepaths_order[1]
df_order = pd.read_excel(filepath)
df_order

   焼酎  赤ワイン  白ワイン
0   3     4     6

In [30]:
for key, value in df_order.to_dict().items():
    order[key] += value[0]

In [29]:
order

defaultdict(int, {'焼酎': 11, '白ワイン': 24, 'ブランデー': 2, '赤ワイン': 4})

In [31]:
import os
import shutil

In [32]:
os.listdir('sources/order_new/')

['order_C_20210203.xlsx',
 'order_D_20210203.xlsx',
 'order_A_20210203.xlsx',
 'order_B_20210203.xlsx']

In [33]:
os.listdir('sources/order_old/')

[]

In [35]:
filepath = filepaths_order[0]
shutil.move(filepath, 'sources/order_old/')

'sources/order_old/order_C_20210203.xlsx'

In [59]:
def update_order(order, filepath):
    # 注文表読み込み
    df_order = pd.read_excel(filepath)
    for key, value in df_order.to_dict().items():
        order[key] += value[0]
    # ファイルの移動
    shutil.move(filepath, 'sources/order_old/')
    return order

In [62]:
order = defaultdict(int)

for filepath in filepaths_order:
    order = update_order(order, filepath)

In [63]:
order

defaultdict(int,
            {'焼酎': 16,
             '白ワイン': 54,
             'ブランデー': 2,
             '赤ワイン': 4,
             'ウィスキー': 7,
             '缶チューハイ': 23,
             'Unnamed: 3': nan,
             'Unnamed: 4': nan,
             'Unnamed: 5': nan,
             'Unnamed: 6': nan,
             'Unnamed: 7': nan,
             'Unnamed: 8': nan})

In [55]:
order

defaultdict(int,
            {'白ワイン': 18,
             '焼酎': 5,
             'ウィスキー': 4,
             'Unnamed: 3': nan,
             'Unnamed: 4': nan,
             'Unnamed: 5': nan,
             'Unnamed: 6': nan,
             'Unnamed: 7': nan,
             'Unnamed: 8': nan})